.git
.DS_Store
**/.DS_Store
**/.idea
**/.pytest_cache
**/__pycache__
**/*.pyc

backend/.env
backend/.venv
backend/chroma_data
backend/credentials
backend/logs
backend/runtime_cache

frontend/node_modules
frontend/dist

docker/homeassistant/config
